.timeline {
  position: relative;

  &.vertical {
    padding-left: var(--responsive-space-xl);

    .item {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: var(--responsive-space-l);
      padding-bottom: var(--responsive-space-xl);

      &:last-child {
        padding-bottom: 0;
      }

      .marker {
        display: flex;
        flex-direction: column;
        align-items: center;

        .line {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          height: calc(100% - 1.5rem);
        }
      }

      .content {
        padding-top: var(--responsive-space-xs);
      }
    }
  }

  &.horizontal {
    padding: var(--responsive-space-xl) 0;
    display: flex;
    gap: var(--responsive-space-xl);

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .connector {
      position: absolute;
      right: -60%;
      top: 25%;
      transform: translateY(-50%);
    }
  }
}
